{% extends "index.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
        />
        <meta charset="UTF-8" />
        <title>Contactez-nous</title>

        <link
            href="https://unpkg.com/cirrus-ui"
            type="text/css"
            rel="stylesheet"
        />

        <link
            href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Oswald"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous"
        />
    
    </head>

    <body>
        <div class="hero fullscreen">
            <div class="hero-body">
                <div style="margin: auto">
<form class="frame p-0" method="post" action="{% url 'contact' %}"">
    {% csrf_token %}
     <div class="frame__body p-5">
 <div class="row p-0 level fill-height">
     <div class="col">
         <div class="space xlarge"></div>
             <div class="padded">
             <h1 class="u-text-center u-font-alt">Contactez-nous</h1>
                      <div class="divider"></div>
                     <p class="u-text-center">Nous sommes là pour répondre à toutes vos questions et préoccupations. N'hésitez pas à nous contacter pour toute assistance ou renseignement supplémentaire. Votre satisfaction est notre priorité absolue.</p>
                         <div class="divider"></div>

                                        <div class="form-group">
                                            <label class="form-group-label">
                                                <span class="icon">
                                                    <i class="fa-wrapper far fa-user"></i>
                                                </span>
                                            </label>
                                            <input type="text" class="form-group-input" placeholder="Votre Nom"  name="nom"/>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-group-label">
                                                <span class="icon">
                                                    <i class="fa-wrapper far fa-envelope"></i>
                                                </span>
                                            </label>
                                            <input type="email" class="form-group-input" placeholder="Votre Addresse E-mail" name="email1"/>
                                        </div>

                                        <div class="form-section section-inline">
                                            <div class="section-body row">
                                                <div class="form-group col-6 pl-0">
                                                    <label class="form-group-label">
                                                        <span class="icon">
                                                            <i class="fa-wrapper far fa-calendar"></i>
                                                        </span>
                                                    </label>
                                                <div class="form-group col-6 pr-0">
                                                    <label class="form-group-label">
                                                        <span class="icon">
                                                            <i class="fa-wrapper fas fa-list"></i>
                                                        </span>
                                                    </label>
                                                    <select class="select form-group-input" placeholder="Choose one" name="type_demande">
                                                        <option>Bug Report</option>
                                                        <option>Feature Request</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <textarea placeholder="Partagez-nous vos préoccupations." name="message"></textarea>

                                        <div class="form-ext-control form-ext-checkbox">
                                            <input id="check1" class="form-ext-input" type="checkbox">
                                        </div>

                                        <div class="space"></div>

                                        <div class="btn-group u-pull-right">
                                            <button class="btn-info">Valider</button>
                                        </div>

                                    </div>
                                    <div class="space xlarge"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}